/**
 * Film Meta Block - Frontend Styles
 */

.wp-block-eventive-film-meta {

	.eventive-loading,
	.eventive-error {
		font-style: italic;
	}

	.eventive-error {
		color: #c00;
	}

	.eventive-film-meta-label {
		font-weight: 600;
	}
}
