.provincetown-agile-login,
.provincetown-agile-account {
  display: inline-block;
  margin: 0 5px;
}

#provincetown-agile-login,
#provincetown-agile-account {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 3px solid #555;
  display: inline-block;
  align-items: center;
  padding: 0;
  margin: 0;
}

#provincetown-agile-login .user-icon,
#provincetown-agile-account .user-icon {
  font-size: 28px;
  color: #555;
  padding: 0;
  margin: 0;
  margin-left: 1px;
  margin-top: 1px;
}
